.element{
    height: 100px;
    width: 100px;
    background-color: red;
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.element:hover{
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
}



@keyframes myAnimation {
    0%{
        margin-top: 0px;
        margin-left: 0px;
        background-color: red;
    }
    25%{
        margin-top: 0px;
        margin-left: 200px;
        background-color: yellow;
    }
    50%{
        margin-top: 200px; 
        margin-left: 200px;
        background-color: orangered;
    }
    75%{
        margin-top: 200px; 
        margin-left: 0px;
        background-color: green;
    }
    100%  {
        margin-top: 0px; 
        margin-left: 0px;
        background-color: blueviolet;
    }
}

